# TOP 500 supercomputer mining - Challenge 1

# 1-A

In this challenge you will mine top500 website to retrieve information on the most powerfull supercomputer of the last years.

Your task is to scrape information for the top 500 supercomputers from 2014 to 2018. The information should include:

* **Rank**

* **Name**

* **Year**

* **Description**

* **Company**

* **Country**

* **Cores**

* **RMax (TFlops/s)**

* **RPeak (TFlops/s)**

* **Power (kW)**


The root url is the following:
https://www.top500.org/


You need to navigate the web in order to extract all information for 2500 supercomputers. As an example, the first urls are:

https://www.top500.org/lists/2014/11/?page=1


https://www.top500.org/list/2014/11/?page=2



Write code that do the following:
1. Look for the url to scrape.
2. Make request.
3. Return HTML string.
4. Parse and extract all features. Create a dictionary with these fields.
5. Return a list of dictionaries.

In [6]:
import requests as req
from bs4 import BeautifulSoup
import re

In [27]:
def get_info(start_year,end_year):
    data = []
    for year in range(start_year, end_year):
        for i in range(1,6):
            url = f"https://www.top500.org/list/{year}/11/?page={i}"
            res = req.get(url)
            soup = BeautifulSoup(res.text, 'html.parser')
            computers = soup.select('tr')[1:]
            for c in computers:
                info = {}
                info["ranking"] = c.select("td")[0].get_text()
                info["name"] = c.select("td")[2].select("b")[0].get_text() if c.select("td")[2].select("b") else ""
                info["year"] = year
                info["company"] = c.select("td")[2].select("br")[0].get_text()
                info["country"] = str(c.select("td")[1]).split("<br/>")[1].replace("</td>","")
                d1 = c.select("td")[1].select("a")[0].get_text()
                d2 = c.select("td")[2].get_text().replace(info["name"]+" - ","").replace(info["company"],"").replace(",","").strip()
                info["description"] = d1+" "+d2
                info["cores"] = int(c.select("td")[3].get_text().replace(",","")) if c.select("td")[3].get_text()!="" else None
                info["rmax"] = float(c.select("td")[4].get_text().replace(",","")) if c.select("td")[4].get_text()!="" else None
                info["rpeak"] = float(c.select("td")[5].get_text().replace(",","")) if c.select("td")[5].get_text()!="" else None
                info["power"] = int(c.select("td")[6].get_text().replace(",","")) if c.select("td")[6].get_text()!="" else None
                data.append(info)
    return(data)

In [28]:
data = get_info(2014,2019)

In [20]:
data[2498]

{'ranking': '499',
 'name': '',
 'year': 2018,
 'company': 'Huawei Technologies Co., Ltd.',
 'country': 'China',
 'description': 'Internet Company A FusionServer XH620 V3 Cluster Xeon E5-2650v3 10C 2.3GHz 10G Ethernet',
 'cores': 49600,
 'rmax': 875.9,
 'rpeak': 1825.3,
 'power': 930}

Your output before store in Sql should be something like:

[{'ranking': 1,
  'name': 'Tianhe-2A',
  'year': 2014,
  'description': 'National Super Computer Center in Guangzhou Cluster  Intel Xeon E5-2692 12C 2.200GHz  TH Express-2',
  'company': 'NUDT',
  'country': 'China',
  'cores': 3120000,
  'rmax': 33862.7,
  'rpeak': 54902.4,
  'power': 17808},
  
 {'ranking': 2,
  'name': 'Titan',
  'year': 2014,
  'description': 'DOE/SC/Oak Ridge National Laboratory XK7  Opteron 6274 16C 2.200GHz  Cray Gemini interconnect',
  'company': 'Cray Inc.',
  'country': 'United States',
  'cores': 560640,
  'rmax': 17590.0,
  'rpeak': 27112.5,
  'power': 8209}....]


# 1-B


When you complete this task, you need to save the information in a SQL database. For that:
1. Install MySQL and MySQL connector for Python.
2. Start MySQL server on your computer. 
3. Create a new empty database. 
4. Create a table for store the data. As an example, the table could be:
 ```sql
   CREATE TABLE top_500(
           ranking int,
           name text, 
           year int,
           description text,
           company text,
           country text, 
           cores int, 
           rmax float,
           rpeak float,
           power int);
```

In [10]:
import getpass
import pymysql
from sqlalchemy import create_engine

mysql_domain = "localhost"
mysql_user = "root"
mysql_password = getpass.getpass()
mysql_db = "TOP500"

dbdata = [mysql_user, mysql_password, mysql_domain, mysql_db]
connection_url = 'mysql+pymysql://{}:{}@{}/{}'.format(*dbdata)
engine = create_engine(connection_url)
print("Connected to DB!")

········
Connected to DB!

In [30]:
from sqlalchemy.sql import text
with engine.connect() as con:

    d = data

    statement = text("""INSERT INTO top_500(ranking, name, year, description, company, country, cores, rmax, rpeak, power) VALUES(:ranking, :name, :year, :description, :company, :country, :cores, :rmax, :rpeak, :power)""")

    for line in d:
        con.execute(statement, **line)

In [31]:
import pandas as pd

sqlquery = """
SELECT * FROM top_500
"""

data = pd.read_sql_query(sqlquery, engine)
print(data.shape)
data.head()

(2500, 10)

,ranking,name,year,description,company,country,cores,rmax,rpeak,power
0,1,Tianhe-2A,2014,National Super Computer Center in Guangzhou TH...,NUDT,China,3120000,33862.7,54902.4,17808.0
1,2,Titan,2014,DOE/SC/Oak Ridge National Laboratory Cray XK7 ...,Cray Inc.,United States,560640,17590.0,27112.5,8209.0
2,3,Sequoia,2014,DOE/NNSA/LLNL BlueGene/Q Power BQC 16C 1.60 GH...,IBM,United States,1572864,17173.2,20132.7,7890.0
3,4,,2014,RIKEN Advanced Institute for Computational Sci...,Fujitsu,Japan,705024,10510.0,11280.4,12660.0
4,5,Mira,2014,DOE/SC/Argonne National Laboratory BlueGene/Q ...,IBM,United States,786432,8586.6,10066.3,3945.0