# TOP 500 supercomputer mining - Challenge 1

# 1-A

In this challenge you will mine top500 website to retrieve information on the most powerfull supercomputer of the last years.

Your task is to scrape information for the top 500 supercomputers from 2014 to 2018. The information should include:

* **Rank**

* **Name**

* **Year**

* **Description**

* **Company**

* **Country**

* **Cores**

* **RMax (TFlops/s)**

* **RPeak (TFlops/s)**

* **Power (kW)**


The root url is the following:
https://www.top500.org/


You need to navigate the web in order to extract all information for 2500 supercomputers. As an example, the first urls are:

https://www.top500.org/lists/2014/11/?page=1


https://www.top500.org/list/2014/11/?page=2



Write code that do the following:
1. Look for the url to scrape.
2. Make request.
3. Return HTML string.
4. Parse and extract all features. Create a dictionary with these fields.
5. Return a list of dictionaries.

In [22]:
import requests as req
from bs4 import BeautifulSoup
import re

In [2]:
url = "https://www.top500.org/list/2014/11/?page=1"

res = req.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

In [31]:

computers = soup.select('tr')[1:]
c = computers[3]
c

<tr>
<td><span>4</span></td>
<td><a href="/site/50313">RIKEN Advanced Institute for Computational Science (AICS)</a><br/>Japan</td>
<td><a href="/system/177232">K computer, SPARC64 VIIIfx 2.0GHz, Tofu interconnect
                    </a><br>Fujitsu</br></td>
<td>705,024</td>
<td>10,510.0</td>
<td>11,280.4</td>
<td>12,660</td>
</tr>

In [32]:
info = {}
info["rank"] = c.select("td")[0].get_text()
info["name"] = c.select("td")[2].select("b")[0].get_text() if c.select("td")[2].select("b") else ""
info["year"] = 2014
d1 = c.select("td")[1].select("a")[0].get_text()
d2 = c.select("td")[2].get_text().split(",")
d2[0] = re.sub("\\n.*\s-\s","",d2[0])
join = " ".join()
print(d2)
info["company"] = c.select("td")[2].select("br")[0].get_text()
info["country"] = str(c.select("td")[1]).split("<br/>")[1].replace("</td>","")
info["cores"] = int(c.select("td")[3].get_text().replace(",",""))
info["rmax"] = float(c.select("td")[4].get_text().replace(",",""))
info["rpeak"] = float(c.select("td")[5].get_text().replace(",",""))
info["power"] = int(c.select("td")[6].get_text().replace(",",""))
print (info)

['K computer', ' SPARC64 VIIIfx 2.0GHz', ' Tofu interconnect\n                    Fujitsu']
{'rank': '4', 'name': '', 'year': 2014, 'company': 'Fujitsu', 'country': 'Japan', 'cores': 705024, 'rmax': 10510.0, 'rpeak': 11280.4, 'power': 12660}

In [46]:
data = []
computers = soup.select('tr')[1:]
for c in computers:
    info = {}
    info["rank"]=c.select("td")[0].get_text()
    #info["name"]
    data.append(info)

print (data)

[{'rank': '1'}, {'rank': '2'}, {'rank': '3'}, {'rank': '4'}, {'rank': '5'}, {'rank': '6'}, {'rank': '7'}, {'rank': '8'}, {'rank': '9'}, {'rank': '10'}, {'rank': '11'}, {'rank': '12'}, {'rank': '13'}, {'rank': '14'}, {'rank': '15'}, {'rank': '16'}, {'rank': '17'}, {'rank': '18'}, {'rank': '19'}, {'rank': '20'}, {'rank': '21'}, {'rank': '22'}, {'rank': '23'}, {'rank': '24'}, {'rank': '25'}, {'rank': '26'}, {'rank': '27'}, {'rank': '28'}, {'rank': '29'}, {'rank': '30'}, {'rank': '31'}, {'rank': '32'}, {'rank': '33'}, {'rank': '34'}, {'rank': '35'}, {'rank': '36'}, {'rank': '37'}, {'rank': '38'}, {'rank': '39'}, {'rank': '40'}, {'rank': '41'}, {'rank': '42'}, {'rank': '43'}, {'rank': '44'}, {'rank': '45'}, {'rank': '46'}, {'rank': '47'}, {'rank': '48'}, {'rank': '49'}, {'rank': '50'}, {'rank': '51'}, {'rank': '52'}, {'rank': '53'}, {'rank': '54'}, {'rank': '55'}, {'rank': '56'}, {'rank': '57'}, {'rank': '58'}, {'rank': '59'}, {'rank': '60'}, {'rank': '61'}, {'rank': '62'}, {'rank': '63'}, {'rank': '64'}, {'rank': '65'}, {'rank': '66'}, {'rank': '67'}, {'rank': '68'}, {'rank': '69'}, {'rank': '70'}, {'rank': '71'}, {'rank': '72'}, {'rank': '73'}, {'rank': '74'}, {'rank': '75'}, {'rank': '76'}, {'rank': '77'}, {'rank': '78'}, {'rank': '79'}, {'rank': '80'}, {'rank': '81'}, {'rank': '82'}, {'rank': '83'}, {'rank': '84'}, {'rank': '85'}, {'rank': '86'}, {'rank': '87'}, {'rank': '88'}, {'rank': '89'}, {'rank': '90'}, {'rank': '91'}, {'rank': '92'}, {'rank': '93'}, {'rank': '94'}, {'rank': '95'}, {'rank': '96'}, {'rank': '97'}, {'rank': '98'}, {'rank': '99'}, {'rank': '100'}]

Your output before store in Sql should be something like:

[{'ranking': 1,
  'name': 'Tianhe-2A',
  'year': 2014,
  'description': 'National Super Computer Center in Guangzhou Cluster  Intel Xeon E5-2692 12C 2.200GHz  TH Express-2',
  'company': 'NUDT',
  'country': 'China',
  'cores': 3120000,
  'rmax': 33862.7,
  'rpeak': 54902.4,
  'power': 17808},
  
 {'ranking': 2,
  'name': 'Titan',
  'year': 2014,
  'description': 'DOE/SC/Oak Ridge National Laboratory XK7  Opteron 6274 16C 2.200GHz  Cray Gemini interconnect',
  'company': 'Cray Inc.',
  'country': 'United States',
  'cores': 560640,
  'rmax': 17590.0,
  'rpeak': 27112.5,
  'power': 8209}....]


# 1-B


When you complete this task, you need to save the information in a SQL database. For that:
1. Install MySQL and MySQL connector for Python.
2. Start MySQL server on your computer. 
3. Create a new empty database. 
4. Create a table for store the data. As an example, the table could be:
 ```sql
   CREATE TABLE top_500(
           ranking int,
           name text, 
           year int,
           description text,
           company text,
           country text, 
           cores int, 
           rmax float,
           rpeak float,
           power int);
```

In [ ]:
# Your code here