# TOP 500 supercomputer mining - Challenge 1

# 1-A

In this challenge you will mine top500 website to retrieve information on the most powerfull supercomputer of the last years.

Your task is to scrape information for the top 500 supercomputers from 2014 to 2018. The information should include:

* **Rank**

* **Name**

* **Year**

* **Description**

* **Company**

* **Country**

* **Cores**

* **RMax (TFlops/s)**

* **RPeak (TFlops/s)**

* **Power (kW)**


The root url is the following:
https://www.top500.org/


You need to navigate the web in order to extract all information for 2500 supercomputers. As an example, the first urls are:

https://www.top500.org/lists/2014/11/?page=1


https://www.top500.org/list/2014/11/?page=2



Write code that do the following:
1. Look for the url to scrape.
2. Make request.
3. Return HTML string.
4. Parse and extract all features. Create a dictionary with these fields.
5. Return a list of dictionaries.

In [76]:
import requests as req
from bs4 import BeautifulSoup
import re

In [77]:
url = "https://www.top500.org/list/2014/11/?page=1"

res = req.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

In [129]:
computers = soup.select('tr')[1:]
c = computers[55]
c

<tr>
<td><span>56</span></td>
<td><a href="/site/50422">Swiss National Supercomputing Centre (CSCS)</a><br/>Switzerland</td>
<td><a href="/system/178451">
<b>Piz Daint Multicore</b> - Cray XC40, Xeon E5-2690v3 12C 2.6GHz, Aries interconnect
                    </a><br>Cray Inc.</br></td>
<td>30,240</td>
<td>944.8</td>
<td>1,258.0</td>
<td></td>
</tr>

In [131]:
info = {}
info["rank"] = c.select("td")[0].get_text()
info["name"] = c.select("td")[2].select("b")[0].get_text() if c.select("td")[2].select("b") else ""
info["year"] = 2014
info["company"] = c.select("td")[2].select("br")[0].get_text()
info["country"] = str(c.select("td")[1]).split("<br/>")[1].replace("</td>","")
d1 = c.select("td")[1].select("a")[0].get_text()
d2 = c.select("td")[2].get_text().replace(info["name"]+" - ","").replace(info["company"],"").replace(",","").strip()
info["description"] = d1+" "+d2
info["cores"] = int(c.select("td")[3].get_text().replace(",","")) if c.select("td")[3].get_text()!="" else ""
info["rmax"] = float(c.select("td")[4].get_text().replace(",","")) if c.select("td")[3].get_text()!="" else ""
info["rpeak"] = float(c.select("td")[5].get_text().replace(",",""))
info["power"] = int(c.select("td")[6].get_text().replace(",","")) if c.select("td")[6].get_text()!="" else ""
print (info)

{'rank': '56', 'name': 'Piz Daint Multicore', 'year': 2014, 'company': 'Cray Inc.', 'country': 'Switzerland', 'description': 'Swiss National Supercomputing Centre (CSCS) Cray XC40 Xeon E5-2690v3 12C 2.6GHz Aries interconnect', 'cores': 30240, 'rmax': 944.8, 'rpeak': 1258.0, 'power': ''}

In [133]:
data = []
computers = soup.select('tr')[1:]
for c in computers:
    info = {}
    info["rank"] = c.select("td")[0].get_text()
    info["name"] = c.select("td")[2].select("b")[0].get_text() if c.select("td")[2].select("b") else ""
    info["year"] = 2014
    info["company"] = c.select("td")[2].select("br")[0].get_text()
    info["country"] = str(c.select("td")[1]).split("<br/>")[1].replace("</td>","")
    d1 = c.select("td")[1].select("a")[0].get_text()
    d2 = c.select("td")[2].get_text().replace(info["name"]+" - ","").replace(info["company"],"").replace(",","").strip()
    info["description"] = d1+" "+d2
    info["cores"] = int(c.select("td")[3].get_text().replace(",","")) if c.select("td")[3].get_text()!="" else ""
    info["rmax"] = float(c.select("td")[4].get_text().replace(",","")) if c.select("td")[4].get_text()!="" else ""
    info["rpeak"] = float(c.select("td")[5].get_text().replace(",","")) if c.select("td")[5].get_text()!="" else ""
    info["power"] = int(c.select("td")[6].get_text().replace(",","")) if c.select("td")[6].get_text()!="" else ""
    data.append(info)
    
print (data[0])

{'rank': '1', 'name': 'Tianhe-2A', 'year': 2014, 'company': 'NUDT', 'country': 'China', 'description': 'National Super Computer Center in Guangzhou TH-IVB-FEP Cluster Intel Xeon E5-2692 12C 2.200GHz TH Express-2 Intel Xeon Phi 31S1P', 'cores': 3120000, 'rmax': 33862.7, 'rpeak': 54902.4, 'power': 17808}

In [137]:
def get_info(start_year,end_year):
    data = []
    for year in range(start_year, end_year):
        for i in range(1,6):
            url = f"https://www.top500.org/list/{year}/11/?page={i}"
            res = req.get(url)
            soup = BeautifulSoup(res.text, 'html.parser')
            computers = soup.select('tr')[1:]
            for c in computers:
                info = {}
                info["rank"] = c.select("td")[0].get_text()
                info["name"] = c.select("td")[2].select("b")[0].get_text() if c.select("td")[2].select("b") else ""
                info["year"] = year
                info["company"] = c.select("td")[2].select("br")[0].get_text()
                info["country"] = str(c.select("td")[1]).split("<br/>")[1].replace("</td>","")
                d1 = c.select("td")[1].select("a")[0].get_text()
                d2 = c.select("td")[2].get_text().replace(info["name"]+" - ","").replace(info["company"],"").replace(",","").strip()
                info["description"] = d1+" "+d2
                info["cores"] = int(c.select("td")[3].get_text().replace(",","")) if c.select("td")[3].get_text()!="" else ""
                info["rmax"] = float(c.select("td")[4].get_text().replace(",","")) if c.select("td")[4].get_text()!="" else ""
                info["rpeak"] = float(c.select("td")[5].get_text().replace(",","")) if c.select("td")[5].get_text()!="" else ""
                info["power"] = int(c.select("td")[6].get_text().replace(",","")) if c.select("td")[6].get_text()!="" else ""
                data.append(info)
    return(data)

In [138]:
data = get_info(2014,2019)

In [140]:
data[2499]

{'rank': '500',
 'name': '',
 'year': 2018,
 'company': 'Inspur',
 'country': 'China',
 'description': 'Internet Service A SA5212M4 Xeon E5-2682v4 16C 2.5GHz 10G Ethernet',
 'cores': 45440,
 'rmax': 874.8,
 'rpeak': 1817.6,
 'power': ''}

Your output before store in Sql should be something like:

[{'ranking': 1,
  'name': 'Tianhe-2A',
  'year': 2014,
  'description': 'National Super Computer Center in Guangzhou Cluster  Intel Xeon E5-2692 12C 2.200GHz  TH Express-2',
  'company': 'NUDT',
  'country': 'China',
  'cores': 3120000,
  'rmax': 33862.7,
  'rpeak': 54902.4,
  'power': 17808},
  
 {'ranking': 2,
  'name': 'Titan',
  'year': 2014,
  'description': 'DOE/SC/Oak Ridge National Laboratory XK7  Opteron 6274 16C 2.200GHz  Cray Gemini interconnect',
  'company': 'Cray Inc.',
  'country': 'United States',
  'cores': 560640,
  'rmax': 17590.0,
  'rpeak': 27112.5,
  'power': 8209}....]


# 1-B


When you complete this task, you need to save the information in a SQL database. For that:
1. Install MySQL and MySQL connector for Python.
2. Start MySQL server on your computer. 
3. Create a new empty database. 
4. Create a table for store the data. As an example, the table could be:
 ```sql
   CREATE TABLE top_500(
           ranking int,
           name text, 
           year int,
           description text,
           company text,
           country text, 
           cores int, 
           rmax float,
           rpeak float,
           power int);
```

In [ ]:
# Your code here